<div class="flex-none">
    <MudButton Class=@((SelectedItems.Count > 0 ? "table-filter__btn--active" : "table-filter__btn") + $" {Class}")
               DisableElevation="true"
               Disabled="@(Items.Count == 0)"
               OnClick="@(() => _isFilterOpen = !_isFilterOpen)">
        <MudIcon Icon="@UltraToneIcons.SLOW_MOTION_VIDEO" Class="table-filter__btn--icon mx-1"></MudIcon>
        <MudText Class=@($"mr-1{(SelectedItems.Count > 0 ? " typo__bold700--2" : " typo__reg400--2")}")>
            @(SelectedItems.Count > 0 ? Title + ": " : Title)
        </MudText>
        <MudText Class=@(SelectedItems.Count > 0 ? "typo__reg400--2 mr-1" : string.Empty)>
            @(SelectedItems.Count > 0 ?
                string.Join(",", SelectedItems.Select(i => i.Text ?? i.Value)).MakeShortFromBegin(25) :
                string.Empty)
        </MudText>
        @if (SelectedItems.Count > 0)
        {
            <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="@Clear" Class="table-filter__small-close-clear-icon"/>
        }
        <MudIconButton Icon="@(_isFilterOpen ? UltraToneIcons.EXPAND_LESS : UltraToneIcons.EXPAND_MORE)"
                       OnClick="@(() => _isFilterOpen = !_isFilterOpen)"
                       Class="table-filter__small-close-clear-icon"/>
    </MudButton>
    <MudPopover Open="@_isFilterOpen"
                AnchorOrigin="Origin.BottomLeft"
                TransformOrigin="Origin.TopLeft"
                Elevation="0"
                Class="table-filter__popover pa-3">
        <MudGrid Class="d-flex flex-column" Spacing="0">
            <MudItem>
                <MudText Inline="true" Class="table-filter__popover-title mr-1">@Title</MudText>
                @if (Items.Count > 2 && MultipleSelect)
                {
                    <MudMenu Label="@(_condition ? TableFiltersResource.Is : TableFiltersResource.IsNot)" Class="table-filter__condition"
                             ListClass="table-filter__condition--list" PopoverClass="table-filter__condition--popover" Dense="true"
                             AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft" EndIcon="@UltraToneIcons.EXPAND_MORE">
                        <MudMenuItem OnClick="@(_ => _condition = true)">@TableFiltersResource.Is</MudMenuItem>
                        <MudMenuItem OnClick="@(_ => _condition = false)">@TableFiltersResource.IsNot</MudMenuItem>
                    </MudMenu>
                }
                else
                {
                    <MudText Inline="true" Class="table-filter__popover-title">@TableFiltersResource.Is</MudText>
                }
            </MudItem>
            <MudItem Class="mt-4 mb-2 table-filter__popover-items">
                @foreach (var item in Items)
                {
                    <div class="table-filter__popover-item d-flex align-center">
                        <MudCheckBox T="bool" Size="Size.Small" Color="Color.Primary" UnCheckedColor="Color.Default"
                                     CheckedChanged="@(e => OnCheckedChanged(e, item))"
                                     Checked="@_tempSelectedItems.Contains(item)"/>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <MudImage Src="@item.ImageUrl"
                                      Width="22"
                                      Height="15"
                                      Class="mr-2 rounded"
                                      ObjectFit="ObjectFit.Cover"/>
                        }
                        <MudText>@(item.Text ?? item.Value)</MudText>
                    </div>
                }
            </MudItem>
            <MudItem Class="ml-2">
                <div class="d-flex justify-space-between">
                    <MudButton Class="align-self-start table-filter__clear-btn"
                               Disabled="@(!_tempSelectedItems.Any())"
                               OnClick="@Clear">
                        @TableFiltersResource.Clear
                    </MudButton>
                    <div class="d-flex justify-end">
                        <MudButton Class="align-self-end table-filter__cancel-btn rounded-12 mr-4"
                                   OnClick="@Cancel">
                            @TableFiltersResource.Cancel
                        </MudButton>
                        <MudButton Class="align-self-end table-filter__ok-btn rounded-12"
                                   Color="Color.Primary"
                                   Variant="Variant.Filled"
                                   DisableElevation="true"
                                   Disabled="@(!_tempSelectedItems.Any())"
                                   OnClick="@Ok">
                            @TableFiltersResource.OK
                        </MudButton>
                    </div>
                </div>
            </MudItem>
        </MudGrid>
    </MudPopover>
</div>

@if (_isFilterOpen)
{
    <Overlay OnOverlayClick="@Cancel"/>
}
